
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" *ngIf="consultas.length > 0">
    <div *ngFor="let consulta of consultas; let i = index" class="card" (click)="openChat(consulta.id)">
      <div class="card-content pt-serif-regular">
        <div class="card-details">
          <h2>Mesa {{ consulta.id }}</h2>

          <h3>{{consulta.ultimoMensaje.nombre}} {{consulta.ultimoMensaje.apellido}}: {{consulta.ultimoMensaje.mensaje}}</h3>
        </div>
      </div>
    </div>
  </div>
</ion-content>  
