<ion-content>
  <div class="login-container">
    <div class="containerimg ion-text-center" >
      <img class="iconosuperprime" src="../../assets/icono.jpg">
    </div>
    <form [formGroup]="credentials">
      <ion-item class="margen">
        <ion-label class="margen2" position="floating">Correo</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="errors">
        <ion-text color="danger" *ngIf="email?.hasError('required')">
          El correo es requerido!
        </ion-text>
        <ion-text color="danger" *ngIf="email?.hasError('email')">
          El correo es requerido!
        </ion-text>
      </div>
      <ion-item class="margen">
        <ion-label class="margen2" position="floating">Contraseña</ion-label>
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"></ion-input>
        <ion-icon class="ojito" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" slot="end"
          (click)="showPassword = !showPassword"></ion-icon>
      </ion-item>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="errors">
        <ion-text color="danger" *ngIf="password?.hasError('required')">
          La contraseña es requerida
        </ion-text>
        <ion-text color="danger" *ngIf="password?.hasError('minlength')">
          La contraseña debe ser de al menos 3 caracteres
        </ion-text>
      </div>
      <div class="button-container">
        <button ion-button class="circle-button" (click)="login()">
          <ion-icon class="icono2" name="log-in"></ion-icon>
        </button>
        <button ion-button class="circle-button2" [disabled]="this.credentials.value.email== 'admin@admin.com' &&
        this.credentials.value.password == '111111'" [ngClass]="{'disabled': this.credentials.value.email== 'admin@admin.com' &&
        this.credentials.value.password == '111111'}"(click)="fast1()" >
          <ion-icon class="icono" name="person-outline"></ion-icon>
        </button>
        <button ion-button class="circle-button3" [disabled]="this.credentials.value.email== 'invitado@invitado.com' &&
        this.credentials.value.password == '222222'" 
        [ngClass]="{'disabled': this.credentials.value.email== 'invitado@invitado.com' &&
        this.credentials.value.password == '222222'}"(click)="fast2()">
          <ion-icon class="icono" name="person-outline"></ion-icon>
        </button>
        <button ion-button class="circle-button4" [disabled]="credentials.value.email === 'tester@tester.com' && credentials.value.password === '555555'"
        [ngClass]="{'disabled': credentials.value.email === 'tester@tester.com' && credentials.value.password === '555555'}" (click)="fast3()">
          <ion-icon class="icono" name="person-outline"></ion-icon>
        </button>
      </div>
    </form>
  </div>
</ion-content>