
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" *ngIf="pedidosPendientes.length > 0">
    <div *ngFor="let pedido of pedidosPendientes; let i = index" class="card">
      <ion-card class="carrito-card">
        <h2>Mesa {{pedido.id}}</h2>
        <ion-item class="carrito-prod" *ngFor="let producto of pedido.pedido">{{producto.nombre}} x{{producto.cantidad}} - ${{producto.precio * producto.cantidad}}</ion-item>
      </ion-card>
      <button class="boton aceptar" (click)="aceptarPedido(pedido)">
        <ion-icon name="checkmark-outline"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>  
