.container
{
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #F3DFA2;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 60vh;
    width: 100vw;
    object-fit: cover;
}