<ion-header>
  <ion-toolbar>
    <ion-title class="pt-serif-bold">Graficos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  
    <ion-content>
  <div>
    <ion-card>
      <h2>Califica la calidad de la comida</h2>
      <canvas #chartCanvas1></canvas>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <h2>Califica la estética del establecimiento</h2>
      <canvas #chartCanvas2></canvas>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <h2>Tuviste una buena atencion de los mozos?</h2>
      <canvas #chartCanvas3></canvas>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <h2>Califica el tiempo de espera</h2>
      <canvas #chartCanvas4></canvas>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <h2>Califica el funcionamiento de la App</h2>
      <canvas #chartCanvas5></canvas>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <h2>Califica los precios de los productos</h2>
      <canvas #chartCanvas6></canvas>
    </ion-card>
  </div>
  
</ion-content>
