.swiper-container {
  width: 100%;
  height: 200px; /* Ajusta la altura según sea necesario */
  margin-top: 10px; /* Espacio entre el texto y el carrusel */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ion-label {
  display: block;
  width: 100%;
}

ion-button {
  margin-top: 10px; /* Espacio entre el carrusel y el botón */
}