/* Estilos generales para el contenido del modal */
ion-content {
  padding: 20px;
}

/* Estilos para el encabezado del modal */
ion-header {
  ion-toolbar {
    --background: #550C18; /* Color de fondo del toolbar */
    color: white; /* Color del texto */
  }
  ion-title {
    font-size: 1.5rem; /* Tamaño de la fuente del título */
  }
}

/* Estilos para el contenido del modal */
ion-list {
  ion-item {
    ion-label {
      h2 {
        font-size: 1.2rem; /* Tamaño de la fuente del título del producto */
        color: #550C18; /* Color del título del producto */
      }
      p {
        font-size: 1rem; /* Tamaño de la fuente del texto de descripción y precio */
        margin-bottom: 10px;
      }
    }
    img {
      max-width: 100%; /* Imagen ajustada al ancho máximo disponible */
      height: auto; /* Altura automática para mantener la proporción */
    }
  }
}

/* Estilos para los slides */
ion-slides {
    height: 200px; /* Altura de los slides, ajusta según sea necesario */
    .swiper-wrapper {
      display: flex;
      flex-direction: row; /* Asegúrate de que los slides se coloquen en fila */
    }
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%; /* Imagen ajustada al ancho máximo del slide */
        height: auto; /* Altura automática para mantener la proporción */
      }
    }
  }