<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <h2>Precio: ${{ producto.precio }}</h2>
        <p>{{ producto.descripcion }}</p>
        <p>Tiempo de espera: {{ producto.tiempo}}</p>

        <swiper-container #swiper [options]="{ autoplay: '3000', loop: true  }">
          <swiper-slide *ngFor="let imagenes of producto.imagenes">
            <img [src]="imagenes" />
          </swiper-slide>
        </swiper-container>
        
        <ion-button (click)="addToCart(producto)"> Añadir al carrito </ion-button>
        <ion-button (click)="removeFromCart(producto)"> Quitar del carrito </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Total: ${{ total }}</ion-title>
    
  </ion-toolbar>
</ion-footer>