
  
  ion-card {
    max-width: 90%; /* Ancho máximo del card */
    max-height: 90%;
    margin: 20px auto;
    padding: 10px; /* Espaciado interno */
    background-color: #F3DFA2; /* Color de fondo del card */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow-y: scroll;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }

  ion-input{
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  ion-item {
    margin-bottom: 10px; /* Espacio entre cada ion-item */
    border-radius: 20px;
    --background: #644e3b;
    color:#F3DFA2;  
    
  }
  
  ion-label {
    
    font-weight: bold; /* Texto en negrita para las etiquetas */
    
  }
  
  ion-button[type="submit"] {
    margin-top: 20px; /* Espacio superior para el botón */
  }
  
  ion-content{
    --ion-background-color: #644e3b;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 400
  .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  
  .fuente {
    font-family: "Playwrite IE", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }
  
  ion-toolbar {
    --background: #F3DFA2;
    --color: white;
  
    --border-color: #550C18;
    --border-width: 4px 0;
    --border-style: double;
  
    --min-height: 60px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  
    ion-icon{
        color:#550C18
    }
  }
  
  .text {
    font-size: 1.5em;
    color:#550C18;
    transition: opacity 0.5s;
    }
  
  
  
  .button-main{
    --background: #644e3b;
    
    position: relative;
    width: 100%;
    h2{
        color:#550C18;
    }
    padding: 3px;
    color:#F3DFA2;
    overflow: hidden;
  }

  .button-cam{
    --background: #644e3b;
    h2{
        color:#550C18;
    }
    color:#F3DFA2;  
    margin-left: 10px;
    margin-top: -10px;
    overflow: hidden;
  }

  .fotos{
    display: flex;
    flex-direction: row;
  }

  .tilde{
    margin-top: 10px;
    ion-icon{
      margin-top: 3px;
      font-size: 30px;
    }
  }


  .scanner-active {
    --ion-background-color: transparent !important;
    --background: none !important;
    opacity: 0;
    display: none;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 1000;
  }
  
  .hide-content {
    --ion-background-color: transparent !important;
    --background: none !important;
    background-color: none;
    background: none;
    opacity: 0;
    display: none;
  }
  