<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon class="red" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let categoria of categorias" class="category-item" (click)="openMenu(categoria)">
    <ion-button class="category-button" expand="block" fill="clear" [ngStyle]="{'background-image': getBackgroundImage(categoria)}">
      <div class="button-content">
          <h3>{{ categoria | titlecase }}</h3>
      </div>
    </ion-button>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goChat()">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-card *ngIf="mostrarCarrito" class="carrito-card">
      <ion-item class="carrito-prod" *ngFor="let producto of carrito">{{producto.nombre}} x{{producto.cantidad}} - ${{producto.precio * producto.cantidad}}<ion-button class="cartDel" (click)="deleteProduct(producto)"><ion-icon name="trash-outline"></ion-icon></ion-button></ion-item>
      <h2>Tiempo de espera estimado: {{this.espera}} minutos</h2>
    </ion-card>
    <div class="footer-content">
      <ion-title>Total: ${{ total }}</ion-title>
      <ion-buttons slot="end">
        <ion-button *ngIf="total > 0 && !mostrarCarrito" class="fin" (click)="verPedido()">Finalizar pedido</ion-button>
        <ion-button *ngIf="total > 0 && mostrarCarrito" class="fin" (click)="confirmarPedido()">Confirmar pedido</ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>