
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="text-container">
        <span class="text fuente" *ngFor="let char of currentTextArray; let i = index" [style.opacity]="getOpacity(i)">
          <ng-container *ngIf="char !== ' '; else space">{{ char }}</ng-container>
          <ng-template #space>&nbsp;</ng-template>
        </span>
      </div>

      <ion-buttons slot="primary">
        <ion-chip *ngIf="this.currentUser != null">
          <ion-avatar>
            <img alt="Usuario" [src]="this.currentUser.foto"/>
          </ion-avatar>
          <ion-label class="pt-serif-regular">{{this.currentUser.nombre}} {{this.currentUser.apellido}}</ion-label>
        </ion-chip>

        <ion-button (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div *ngIf="!this.auth.isLogging" class="button-container">
      <ion-button class="button-main" (click)="go('/altas')" *ngIf="this.auth.rol == 'dueño' || this.auth.rol == 'supervisor'">
        <h2 class="pt-serif-bold">Altas</h2>
      </ion-button>
      <ion-button class="button-main" (click)="go('/pendientes')" *ngIf="this.clientesPendientes.length > 0 && (this.auth.rol == 'dueño' || this.auth.rol == 'supervisor')">
        <h2 class="pt-serif-bold">Aceptar Clientes</h2>
      </ion-button>
      <ion-button class="button-main" (click)="go('/mesas')" *ngIf="this.listaDeEspera.length > 0 && this.auth.rol == 'maitre'">
        <h2 class="pt-serif-bold">Asignar Mesas</h2>
      </ion-button>
      <ion-button class="button-main pt-serif-bold" (click)="go('/qrs')" *ngIf="this.auth.rol == 'anonimo'">
        <h2 class="pt-serif-bold">QR de ingreso</h2><ion-icon name="qr-code-outline" ></ion-icon>
      </ion-button>
      <ion-button class="button-main pt-serif-bold" (click)="go('/encuestas')" *ngIf="this.auth.rol == 'anonimo'">
        <h2 class="pt-serif-bold">Encuestas</h2><ion-icon name="help-circle-outline" ></ion-icon>
      </ion-button>
    </div>
    
  </ion-content>  
