
  <ion-header [translucent]="true">
    <ion-toolbar>
      <div class="text-container">
        <span class="text fuente" *ngFor="let char of currentTextArray; let i = index" [style.opacity]="getOpacity(i)">
          <ng-container *ngIf="char !== ' '; else space">{{ char }}</ng-container>
          <ng-template #space>&nbsp;</ng-template>
        </span>
      </div>
      <ion-buttons slot="primary">
        <ion-button (click)="logout()">
          <ion-icon name="exit-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="button-container">
      <ion-button class="button-main">
        <h2 class="pt-serif-bold">Altas</h2><ion-icon name="arrow-up-outline" (click)="goAltas()"></ion-icon>
      </ion-button>
      <ion-button class="button-main pt-serif-bold">
        <h2 class="pt-serif-bold">Códigos QR</h2><ion-icon name="qr-code-outline" (click)="goQR()"></ion-icon>
      </ion-button>
      <ion-button class="button-main pt-serif-bold">
        <h2 class="pt-serif-bold">Encuestas</h2><ion-icon name="help-circle-outline" (click)="goEncuestas()"></ion-icon>
      </ion-button>
      <ion-button class="button-main pt-serif-bold">
        <h2 class="pt-serif-bold">Juegos</h2><ion-icon name="game-controller-outline" (click)="goJuegos()"></ion-icon>
      </ion-button>
    </div>
    
  </ion-content>  
