<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <h4 class="pt-serif-regular" *ngIf="isScanning && mesa > 0">Escaneá el QR de la mesa {{this.mesa}}</h4>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.scanner-active]="isScanning" class="pt-serif-bold">

  <div [class.hide-content]="isScanning">
      <div class="espera-container" *ngIf="isScanning == false && mesa == 0">
        <h2 class="espera">Estás en la lista de espera...</h2>
      </div>
      <div class="button-container" *ngIf="isScanning == false && mesa > 0">
        <h2>Fuiste asignado a la mesa número:</h2>
        <div class="nroMesa">
          <h3>{{this.mesa}}</h3>
        </div>
        <h2>Por favor, escaneá el QR que se encuentra en la mesa.</h2>
        <ion-button class="button-main pt-serif-bold" (click)="escanearMesa()"><ion-icon name="qr-code-outline"></ion-icon></ion-button>
      </div>
  </div>

</ion-content>


